*{
    margin: 0;
    padding:0;
}
div{
    border: 1px solid #999;
    padding: 20px;
    box-sizing: border-box;
}
html,body{
    padding: 20px;
    min-width: 700px;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	content: "";
	height: 0;
	visibility: hidden;
	clear: both;
	display: table;
}
.container{
    background-color: #eee;
}
.container > div{
    background-color: #fff;
}
.team{
    width: 200px;
    float: left;
}
.team-description{
    margin-left: 220px;
    margin-right: 140px;
}
.team-member{
    width: 120px;
    float: right;
}


.team-logo{
    width: 80px;
    height: 80px;
    float: left;
    background: url(../images/test.jpg) no-repeat;
    background-size: cover;
}
.team-name{
    border: 0;
    padding: 0;
    float: right;
    width: 78px;
    height: 80px;
    text-align: center;
}

.member{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    background: url(../images/test.jpg) no-repeat;
    background-size: cover;
}
.member:first-child{
    margin-top: 0;
}
